@media only screen and (max-width: 375px),
  (max-width: 390px),
  (max-width: 414px) {
  * {
    max-width: 100%;
  }

  header {
    display: none !important;
  }

  .topLinkNav {
    display: none !important;
  }

  .programGrid {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 0;
  }

  .programOne,
  .programTwo,
  .programThree,
  .programFour,
  .programFive {
    display: flex;
    flex-direction: row;
    max-width: 1900px;
  }

  .programOne .Svgzone,
  .programTwo .Svgzone,
  .programThree .Svgzone,
  .programFour .Svgzone,
  .programFive .Svgzone {
    max-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .programOne h3,
  .programTwo h3,
  .programThree h3,
  .programFour h3,
  .programFive h3 {
    font-size: 13px;
    font-weight: 300;
    margin-top: 5px;
    color: #ec4327;
    margin-left: 10px;
    margin-right: 8px;
  }

  .programOne p,
  .programTwo p,
  .programThree p,
  .programFour p,
  .programFive p {
    font-size: 10px;
  }

  .gridContainer {
    margin: 0 auto;
    display: grid;
    max-width: 1400px;
    grid-template-columns: repeat(1, 2fr);
  }

  #myContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
  }

  .foot {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    gap: 10px;
  }

  .foot .newImgSvg {
    max-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    left: 5px;
    margin: 15px;
  }

  footer h4 {
    font-size: 20px;
    font-weight: 900;
    margin-top: 5px;
    color: #bbb2b1b9;
    max-width: 900px;
    position: relative;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .firstGrid .textTag {
    font-size: 2rem;
    line-height: 60px;
    background-image: url("../img/CastDinner.png");
    background-size: cover;
    -webkit-background-clip: text;
    font-weight: 900;
    text-transform: uppercase;
    color: #d4311fb4;
    max-width: 360px;
    cursor: pointer;
    margin-left: 6px;
  }

  .firstGrid .hDTagText {
    background-image: url("../img/CastDinner.png");
    background-size: cover;
    -webkit-background-clip: text;
    font-weight: 900;
    text-transform: uppercase;
    color: #d4311fb4;
    max-width: 660px;
    cursor: pointer;
  }
}
