@media only screen and (max-width: 375px) {
  .topLinkNav {
    display: none !important;
  }

  .programGrid {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
  }

  #myContainer {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
  }

  .foot {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
  }
}
